<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeGrep.Looks.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeGrep.Looks.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MeGrep.Looks.Settings1>
            <setting name="AppName" serializeAs="String">
                <value>MeGrep</value>
            </setting>
        </MeGrep.Looks.Settings1>
    </applicationSettings>
    <userSettings>
        <MeGrep.Looks.Settings1>
            <setting name="LastSearchTime" serializeAs="String">
                <value />
            </setting>
        </MeGrep.Looks.Settings1>
    </userSettings>
</configuration>